USE [master]
GO
/****** Object:  Database [CinemaNetworkApp]    Script Date: 06.04.2023 15:51:57 ******/
CREATE DATABASE [CinemaNetworkApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaNetworkApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CinemaNetworkApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaNetworkApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CinemaNetworkApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaNetworkApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaNetworkApp]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[IdCinema] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](30) NOT NULL,
	[IdCinemaPlace] [int] NOT NULL,
	[NumberOfHalls] [int] NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
	[PhoneOfCinema] [nvarchar](11) NOT NULL,
	[IdShedule] [int] NOT NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[IdCinema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaPlace]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaPlace](
	[IdCinemaPlace] [int] IDENTITY(1,1) NOT NULL,
	[IdMetro] [int] NOT NULL,
	[ShoppingCenter] [nvarchar](50) NULL,
	[IdCity] [int] NOT NULL,
	[HouseNumber] [int] NOT NULL,
 CONSTRAINT [PK_CinemaAdress] PRIMARY KEY CLUSTERED 
(
	[IdCinemaPlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[NameCity] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[NameCountry] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[IdFilm] [int] IDENTITY(1,1) NOT NULL,
	[FilmName] [nvarchar](30) NOT NULL,
	[FilmDirector] [nvarchar](30) NOT NULL,
	[DateOfIssue] [date] NOT NULL,
	[AgeLimit] [int] NOT NULL,
	[Rating] [decimal](10, 1) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[FilmPoster] [varbinary](max) NULL,
 CONSTRAINT [PK_Films_1] PRIMARY KEY CLUSTERED 
(
	[IdFilm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[IdGenre] [int] IDENTITY(1,1) NOT NULL,
	[NameGenre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[IdGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenresOfFilms]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenresOfFilms](
	[IdFilm] [int] NOT NULL,
	[IdGenre] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[IdHall] [int] IDENTITY(1,1) NOT NULL,
	[HallName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Halls] PRIMARY KEY CLUSTERED 
(
	[IdHall] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metro]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metro](
	[IdMetro] [int] IDENTITY(1,1) NOT NULL,
	[MetroName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Metro] PRIMARY KEY CLUSTERED 
(
	[IdMetro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceStatus]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceStatus](
	[IdPlaceStatus] [int] IDENTITY(1,1) NOT NULL,
	[PlaceStatus] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PlaceStatus] PRIMARY KEY CLUSTERED 
(
	[IdPlaceStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_RoleTable] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[IdSeat] [int] IDENTITY(1,1) NOT NULL,
	[RowSeatsNumber] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[IdHall] [int] NOT NULL,
	[IdPlaceStatus] [int] NOT NULL,
	[Cost] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[IdSeat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[IdTicket] [int] IDENTITY(1,1) NOT NULL,
	[IdFilm] [int] NOT NULL,
	[StartingDate] [datetime] NOT NULL,
	[IdHall] [int] NOT NULL,
	[IdSeat] [int] NULL,
 CONSTRAINT [PK_Tickets_1] PRIMARY KEY CLUSTERED 
(
	[IdTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[LoginUser] [nvarchar](50) NOT NULL,
	[PasswordUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerInfo]    Script Date: 06.04.2023 15:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerInfo](
	[IdInfoAbout] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[IdCinema] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[PhotoStaff] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_WorkerInfo] PRIMARY KEY CLUSTERED 
(
	[IdInfoAbout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([IdCinema], [CinemaName], [IdCinemaPlace], [NumberOfHalls], [OpeningTime], [ClosingTime], [PhoneOfCinema], [IdShedule]) VALUES (7, N'Зашибисино', 1, 9, CAST(N'10:00:00' AS Time), CAST(N'21:00:00' AS Time), N'88762341536', 1)
SET IDENTITY_INSERT [dbo].[Cinema] OFF
SET IDENTITY_INSERT [dbo].[CinemaPlace] ON 

INSERT [dbo].[CinemaPlace] ([IdCinemaPlace], [IdMetro], [ShoppingCenter], [IdCity], [HouseNumber]) VALUES (1, 1, NULL, 4, 1)
SET IDENTITY_INSERT [dbo].[CinemaPlace] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([IdCity], [NameCity]) VALUES (4, N'Москва')
INSERT [dbo].[City] ([IdCity], [NameCity]) VALUES (5, N'Саратов')
INSERT [dbo].[City] ([IdCity], [NameCity]) VALUES (6, N'Томск')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([IdFilm], [FilmName], [FilmDirector], [DateOfIssue], [AgeLimit], [Rating], [Duration], [FilmPoster]) VALUES (1, N'Кот в сапогах 3', N'Майкл Джордан', CAST(N'2058-09-18' AS Date), 14, CAST(8.6 AS Decimal(10, 1)), N'01:38:00.0000000', NULL)
SET IDENTITY_INSERT [dbo].[Films] OFF
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([IdGenre], [NameGenre]) VALUES (1, N'Комедия')
INSERT [dbo].[Genres] ([IdGenre], [NameGenre]) VALUES (2, N'Драма')
INSERT [dbo].[Genres] ([IdGenre], [NameGenre]) VALUES (3, N'Хоррор')
SET IDENTITY_INSERT [dbo].[Genres] OFF
INSERT [dbo].[GenresOfFilms] ([IdFilm], [IdGenre]) VALUES (1, 1)
INSERT [dbo].[GenresOfFilms] ([IdFilm], [IdGenre]) VALUES (1, 2)
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([IdHall], [HallName]) VALUES (1, N'Самбрэро')
INSERT [dbo].[Halls] ([IdHall], [HallName]) VALUES (2, N'Друдэло')
INSERT [dbo].[Halls] ([IdHall], [HallName]) VALUES (3, N'Сальваниторо')
SET IDENTITY_INSERT [dbo].[Halls] OFF
SET IDENTITY_INSERT [dbo].[Metro] ON 

INSERT [dbo].[Metro] ([IdMetro], [MetroName]) VALUES (1, N'Бл. Дмитрия Донского')
INSERT [dbo].[Metro] ([IdMetro], [MetroName]) VALUES (2, N'Анино')
INSERT [dbo].[Metro] ([IdMetro], [MetroName]) VALUES (3, N'Пражская')
SET IDENTITY_INSERT [dbo].[Metro] OFF
SET IDENTITY_INSERT [dbo].[PlaceStatus] ON 

INSERT [dbo].[PlaceStatus] ([IdPlaceStatus], [PlaceStatus]) VALUES (1, N'Занято')
INSERT [dbo].[PlaceStatus] ([IdPlaceStatus], [PlaceStatus]) VALUES (2, N'Свободно')
SET IDENTITY_INSERT [dbo].[PlaceStatus] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (3, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([IdSeat], [RowSeatsNumber], [SeatNumber], [IdHall], [IdPlaceStatus], [Cost]) VALUES (1, 1, 1, 1, 2, CAST(300.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Seats] OFF
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([IdTicket], [IdFilm], [StartingDate], [IdHall], [IdSeat]) VALUES (2, 1, CAST(N'2023-04-06T02:45:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [IdRole], [LoginUser], [PasswordUser]) VALUES (1, 1, N'admin', N'123')
INSERT [dbo].[User] ([IdUser], [IdRole], [LoginUser], [PasswordUser]) VALUES (2, 2, N'Alex', N'999')
INSERT [dbo].[User] ([IdUser], [IdRole], [LoginUser], [PasswordUser]) VALUES (3, 3, N'test', N'12345')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[WorkerInfo] ON 

SET IDENTITY_INSERT [dbo].[WorkerInfo] OFF
ALTER TABLE [dbo].[CinemaPlace]  WITH CHECK ADD  CONSTRAINT [FK_CinemaPlace_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([IdCity])
GO
ALTER TABLE [dbo].[CinemaPlace] CHECK CONSTRAINT [FK_CinemaPlace_City]
GO
ALTER TABLE [dbo].[CinemaPlace]  WITH CHECK ADD  CONSTRAINT [FK_CinemaPlace_Metro] FOREIGN KEY([IdMetro])
REFERENCES [dbo].[Metro] ([IdMetro])
GO
ALTER TABLE [dbo].[CinemaPlace] CHECK CONSTRAINT [FK_CinemaPlace_Metro]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_CinemaAdress] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[CinemaPlace] ([IdCinemaPlace])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_CinemaAdress]
GO
ALTER TABLE [dbo].[GenresOfFilms]  WITH CHECK ADD  CONSTRAINT [FK_GenresOfFilms_Films] FOREIGN KEY([IdFilm])
REFERENCES [dbo].[Films] ([IdFilm])
GO
ALTER TABLE [dbo].[GenresOfFilms] CHECK CONSTRAINT [FK_GenresOfFilms_Films]
GO
ALTER TABLE [dbo].[GenresOfFilms]  WITH CHECK ADD  CONSTRAINT [FK_GenresOfFilms_Genres] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genres] ([IdGenre])
GO
ALTER TABLE [dbo].[GenresOfFilms] CHECK CONSTRAINT [FK_GenresOfFilms_Genres]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Halls1] FOREIGN KEY([IdHall])
REFERENCES [dbo].[Halls] ([IdHall])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Halls1]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_PlaceStatus] FOREIGN KEY([IdPlaceStatus])
REFERENCES [dbo].[PlaceStatus] ([IdPlaceStatus])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_PlaceStatus]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Seats] FOREIGN KEY([IdSeat])
REFERENCES [dbo].[Seats] ([IdSeat])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Seats]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_RoleTable] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_UserTable_RoleTable]
GO
ALTER TABLE [dbo].[WorkerInfo]  WITH CHECK ADD  CONSTRAINT [FK_WorkerInfo_Cinema] FOREIGN KEY([IdCinema])
REFERENCES [dbo].[Cinema] ([IdCinema])
GO
ALTER TABLE [dbo].[WorkerInfo] CHECK CONSTRAINT [FK_WorkerInfo_Cinema]
GO
ALTER TABLE [dbo].[WorkerInfo]  WITH CHECK ADD  CONSTRAINT [FK_WorkerInfo_User1] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[WorkerInfo] CHECK CONSTRAINT [FK_WorkerInfo_User1]
GO
USE [master]
GO
